@use 'base/variables' as v;
@use 'base/mixins' as m;

.video{
    position: relative;
    min-height: 50rem;
    max-height: 70rem;
    overflow: hidden;
    

    .contenido-video{
      position:absolute;
      width: 100%;
      height: 100%;
      background: rgb(162,3,255);
      background: linear-gradient(270deg, rgba(126,2,195,.5) 0%, rgba(255,0,255,.3) 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      .texto-video{
        border-radius: 5px;

        h2{
          color: v.$blanco;
          font-size: 7rem;
          font-weight: bold;
          text-align: center;
          @include m.phone{
            text-align: left;
          }
        }
        p{
          color: v.$blanco;
          display: inline-block;
          background-color: v.$rosa;
          padding: 1rem 2rem;
          font-size: 2.5rem;
          font-weight: bold;
          margin:0;
          border-radius: 5px;
        }
      }
    }

    video{
      width: auto;
      display: block;
      @include m.desktop{
        width: 100%;
      }
    }
}