
//Colores
$verde:#4cb8b3;
$verdeOscuro:#349590;
$rosa:#f53756;
$amarillo:#fef46d;
$amarilloFuerte:#f3e62b;
$morado:#752f97;
$negro:#000000;
$blanco:#ffffff;
$gris:#f1f1f1;

//Tipografia
$fuente_principal:'Monserrat',sans-serif;

//Media queries mixins

$phone:480px;
$tablet:768px;
$desktop:992px;
$portatil:1200px;

$separacion: 5rem 0rem;